<!DOCTYPE html>
<html>
<head>
	<%- include reference.ejs %>
	<link rel="stylesheet" type="text/css" href="/staticResources/css/index.css">
	<link rel="stylesheet" type="text/css" href="/staticResources/css/animation.css">
	<link rel="stylesheet" type="text/css" href="/staticResources/css/highlight.css">
	<title>
		MILKJS 在线帮助
	</title>
	<script type="text/javascript" src="/staticResources/js/milk/milk.base-1.0.0.js"></script>
	<script type="text/javascript" src="/staticResources/js/milk/milk.linker-1.0.0.js"></script>
	<script type="text/javascript" src="/staticResources/js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="/staticResources/js/milk/jquery.milk-1.0.0.js"></script>
</head>
<body>
	<%- include header.ejs %>
	<div class="layoutPanel_center mainPanel">
		<div><a name="jq" href="javascript:void(0)"><h1>with jQuery</h1></a></div>
		<div id="jqDescription" class="description">
			<%
				if (success) {
					for (var i=0; i<description.length; i++) {
						var item = description[i];
			%>
			<div><%= item %></div>
			<%
					};
				};
			%>
		</div>
		<a id="jqDownload" href="<%= success ? download : '#' %>"><%= success ? file : "" %></a>
		<ul id="jqMethodPanel">
			<% 
				if (success) { 
					for (var i=0; i<api.length; i++) {
						var item = api[i].split("\t");
			%>
			<li key="<%= item[0] %>">
				<div class="stayLeft"><%= item[0] %></div>
				<div class="stayLeft"><%= item[1] %></div>
			</li>			
			<%
					};
				};
			%>
		</ul>
		<div style="border-top: solid 1px #B8B8B8;"></div>
	</div>

	<div class="layoutPanel_center mainPanel">
		<div><a name="md" href="javascript:void(0)"><h1>the Modules</h1></a></div>
		<div id="moduleDescription" class="description">
			<%
				if (success) {
					for (var i=0; i<description2.length; i++) {
						var item = description2[i];
			%>
			<div><%= item %></div>
			<%
					};
				};
			%>
		</div>
		<a id="mdDownload" href="<%= success ? download2 : '#' %>"><%= success ? file2 : "" %></a>
		<ul id="modulePanel">
			<% 
				if (success) { 
					for (var i=0; i<modules.length; i++) {
						var item = modules[i].split("\t");
			%>
			<li key="<%= item[0] %>">
				<div class="stayLeft"><%= item[0] %></div>
				<div class="stayLeft"><%= item[1] %></div>
			</li>			
			<%
					};
				};
			%>
		</ul>
	</div>
	<%- include footer.ejs %>
	<%- include childWindow.ejs %>

	<script type="text/javascript">
		// 事件绑定
		$(function() {
			$("#jqMethodPanel, #modulePanel").delegate("li", "click", function() {
				var key = $(this).attr("key");
				childWindow.open();
				childWindow.setData({title: key});
			});
		});
	</script>
</body>
</html>